.item {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.item .profilePhoto {
  width: 35px;
  border-radius: 30px;
}

.item .personInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 13px;
}

.item .personInfo .name {
  font-size: 12.5px;
  font-weight: 500;
  color: #cfd2e3;
}

.item .personInfo .online {
  margin-top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #85cb1d;
}