.paginator {
  margin-bottom: 10px;
}
.pageNumber {
  padding: 2px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #cfd2e3;
  cursor: pointer;
}

.selectedPage {
  font-weight: bold;
  color: #3b6fa8;
}