.block {
  position: absolute;
  top: 0;
  right: 0;
  width: 246px;
  height: 100%;
  z-index: 998;
  background-color: #16192a;
}

.block .stories {
  margin-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #1d2031;
}

.block .stories .title {
  font-size: 13px;
  font-weight: 500;
  color: #656678;
}

.block .stories .items {
  margin-top: 20px;
}

.block .friends {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #1d2031;
}

.block .friends .title {
  font-size: 13px;
  font-weight: 500;
  color: #656678;
}

.block .friends .items {
  margin-top: 20px;
}

.block .friends .items .item {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.block .friends .items .item .profileIcon {
  width: 35px;
  border-radius: 30px;
}

.block .friends .items .item .personInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 13px;
}

.block .friends .items .item .personInfo .name {
  font-size: 12.5px;
  font-weight: 500;
  color: #cfd2e3;
}

.block .friends .items .item .personInfo .online {
  margin-top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #85cb1d;
}

.block .footer {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}


.block .footer .item:nth-child(2) {
  margin-left: 10px;
}

.block .footer .item:nth-child(-N + 3) {
  margin-right: 10px;
}

.block .footer .item img {
  width: 15px;
  cursor: pointer;
}