.block {
  position: absolute;
  top: 0;
  right: 0;
  width: 246px;
  height: 100%;
  z-index: 998;
  background-color: #16192a;
}

.block .stories {
  margin-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #1d2031;
}

.block .stories .title {
  font-size: 13px;
  font-weight: 500;
  color: #656678;
}

.block .stories .items {
  margin-top: 20px;
}

.block .friends {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #1d2031;
}

.block .friends .title {
  font-size: 13px;
  font-weight: 500;
  color: #656678;
}

.block .friends .items {
  margin-top: 20px;
}

.block .footer {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}


.block .footer .item:nth-child(2) {
  margin-left: 10px;
}

.block .footer .item:nth-child(-N + 3) {
  margin-right: 10px;
}

.block .footer .item img {
  width: 15px;
  cursor: pointer;
}