.block {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #16192a;
}

.block .head {
  position: relative;
  height: 237px;
}

.block .head .background {
  width: 100%;
  height: 100%;
  box-shadow:0 0 30px -7px rgb(72, 7, 110);
}

.block .head .name {
  position: absolute;
  left: 145px;
  bottom: 0;
  padding: 5px 30px;
  font-size: 23px;
  font-weight: bold;
  color: #cfd2e3;
  background-color: #16192a91;
}

.block .head .photoBackground {
  position: absolute;
  left: 10px;
  bottom: -55px;
  width: 145px;
  height: 145px;
  border-radius: 80px;
  background-color: #16192a;
}

.block .head .photo {
  position: absolute;
  left: 15px;
  bottom: -50px;
  width: 135px;
  z-index: 22;
}

.block .btns {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 63px;
  z-index: 11;
  background-color: #16192a;
}

.block .btns .container {
  display: flex;
  padding-left: 190px;
}